.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
      rgba(var(--bg-gradient-home), 1) 0%,
      rgba(var(--bg-gradient-home), 0) 150%);

  // 自定义首页背景图
  &::before {
    // 图片来源：https://zhuanlan.zhihu.com/p/54060187
    background-image: url(./assets/img-1.webp);
    background-size: cover;
  }
}

.vp-doc h2 {
  margin-top: 5px;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px
}
.vp-doc h1 {
  text-align: center;
}
.vp-doc p {
  line-height: 30px;
  margin: 5px 0;
}
body {
  font-size: 15px;
}
.vp-doc li {
  margin-left: 10px;
  padding-left: 5px;
}
.vp-doc [class*='plugin-tabs'] pre code {
  padding: 0 0;
  color: #3dd68c;
}
.VPSidebar[data-v-6750ea26] {

}