.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
      rgba(var(--bg-gradient-home), 1) 0%,
      rgba(var(--bg-gradient-home), 0) 150%);

  // 自定义首页背景图
  &::before {
    // 图片来源：https://zhuanlan.zhihu.com/p/54060187
    background-image: url(./assets/image.jpg);
    background-size: cover;
  }
}

.vp-doc h2 {
  margin-top: 5px;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}
.vp-doc h1 {
  text-align: center;
}
.vp-doc p {
  line-height: 40px;
  margin: 5px 0;
}
.vp-doc .custom-block p {
  margin: 8px 0;
  line-height: 40px;
}
.vp-doc ul, .vp-doc ol {
  padding-left: 1.25rem;
  margin: 8px 0;
}
.vp-doc li {
  margin-left: 10px;
  padding-left: 5px;
  line-height: 40px;
}
body {
  font-size: 15px;
}
.vp-doc li {
  margin-left: 10px;
  padding-left: 5px;
}
.vp-doc [class*='plugin-tabs'] pre code {
  padding: 0 0;
  color: #3dd68c;
}
.VPDoc.has-aside .content-container {
  max-width: 850px !important;
}
.vp-doc h2,h3,h4,h5,h6 {
  margin-top: 10px;
}
.items {
  margin-left: 10px;
}