/* 所有变量：https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
/* 自定义主题色示例，如下 */

/* 浅色模式使用的变量 */
html[theme] {
  --vp-c-user-1: #008cff;
  --vp-c-user-2: #a100ff;
  --vp-c-user-3:green;
  --vp-c-user-soft: rgba(123, 0, 255, 0.16);
}

/* 深色模式使用的变量 */
html[theme].dark {
  --vp-c-user-1:yellow;
  --vp-c-user-2:purple;
  --vp-c-user-3:orange;
  --vp-c-user-soft:rgba(255,255,0,.5);
}

/* 覆盖默认变量 */
html[theme],html[theme].dark {
  --vp-c-brand-1: var(--vp-c-user-1);
  --vp-c-brand-2: var(--vp-c-user-2);
  --vp-c-brand-3: var(--vp-c-user-3);
  --vp-c-brand-soft: var(--vp-c-user-soft);
}
:root {
  --vp-layout-max-width: 100%;
}
.VPDoc {
  background-image: linear-gradient(90deg, rgba(159, 219, 252, .15) 3%, transparent 0), linear-gradient(1turn, rgba(159, 219, 252, .15) 3%, transparent 0);
  background-size: 20px 20px;
}
.VPSidebar {
  background-color: #fafafa;
}
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}
.el-image-viewer__img {
  transform: scale(1) rotate(0deg) translate(0px, 0px);
  max-height: 100%;
  max-width: 90% !important;
}
.aside-container {
  width: 300px !important;
}
.content-wrapper {
  display: none !important;
}
.VPFeature {
  background-color: #ffffff !important;
}

.VPSidebar {
    padding-left: 20px !important;
    width: 12% !important;
}
.VPNavBar.has-sidebar .title {
    padding-left: 20px !important;
    width: 20% !important;
}
